#!/usr/bin/env xdg-open
[Desktop Entry]
Name=TLP UI
Path=~/Applications/TLPUI
Exec=/usr/bin/python -m tlpui
Terminal=false
Type=Application
Icon=/home/jh2xl/Applications/TLPUI/tlpui.svg
Comment=TLP Configuration interface
Categories=Settings;HardwareSettings;GTK;
