[Desktop Entry]
Name=TLP UI
Path=/home/jh/Applications/TLPUI
Exec=/usr/bin/python -m tlpui
Terminal=false
Type=Application
Icon=/home/jh/Applications/TLPUI/tlpui/icons/themeable/hicolor/scalable/apps/tlpui.svg
Comment=TLP Configuration interface
Categories=Settings;HardwareSettings;GTK;
